@import "../../styles/team-sapphire-variables";

.homepage {
  overflow: hidden;
  height: 92vh;
}

.content {
  height: 10vh;

  z-index: 1;
}

.darkBlueCircle {
  height: 110vw;
  width: 110vw;

  left: -50vw;
  top: -5vh;

  z-index: 1;
  visibility: hidden;
}

.lightBlueCircle {
  height: 110vw;
  width: 110vw;

  top: -5vh;
  left: -5vw;

  z-index: 4;
  visibility: hidden;
}

.lightGrayCircle {
  height: 110vw;
  width: 110vw;

  top: -5vh;
  left: 50vw;

  z-index: 2;
  visibility: hidden;
}

@media screen and (min-width: 768px) {
  .content {
    height: 15vh;
  }

  .darkBlueCircle {
    height: 110vw;
    width: 110vw;

    left: -45vw;
    top: -7vh;

    z-index: 1;
  }

  .lightBlueCircle {
    height: 110vw;
    width: 110vw;

    top: -12vh;
    left: -5vw;

    z-index: 4;
  }

  .lightGrayCircle {
    height: 110vw;
    width: 110vw;

    top: -7vh;
    left: 35vw;

    z-index: 2;
  }
}
