@import '../../../styles/team-sapphire-variables';

.accordionHeaderImage {
    width: 100%;
}

.startTimeButton {
    transition: all .2s ease-in-out;
}

.startTimeButton:hover {
    cursor: pointer;
    background-color: $custom-info;
}

.disabledTime:hover{
    cursor: default;
}
