@import '../../../styles/team-sapphire-variables';

.accordionHeaderImage {
    width: 100%;
}

.startTimeButton {
    transition: all .2s ease-in-out;
    &:hover {
        cursor: pointer;
        background-color: $custom-info;
    }
}


.startTimeButton__disabled {
    background-color: $custom-disabled;
    color: adjust-color($custom-disabled, $lightness: -30%);
    &:hover{
        cursor: default;
    }
}

