@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

$custom-primary: #ff512a;
$custom-secondary: #003049;
$custom-info: #2ad8ff;
$custom-light: #f2f2f2;

// Fonts

$text: "Didact Gothic",
sans-serif;
$heading: "Roboto",
sans-serif;

