@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

$custom-primary: #ff512a;
$custom-secondary: #003049;
$custom-info: #2ad8ff;
$custom-light: #f2f2f2;
$custom-overlay: #000000;
$custom-disabled: #eaeaea;
$custom-danger: #dc3545;

$custom-green: hsl(110, 50%, 55%);
$custom-yellow: hsl(60, 100%, 48%);
$custom-red: rgb(255, 118, 118);

// Fonts
$text: "Didact Gothic", sans-serif;
$heading: "Roboto", sans-serif;

$custom-colors: (
    // add custom colors here
    // e.g. $purple: #800080;
    "green": $custom-green,
    "yellow": $custom-yellow,
    "red": $custom-red,
    "overlay": $custom-overlay,
    "disabled": $custom-disabled
);