@use "../../../styles/mixins" as m;
@use "../../../styles/team-sapphire-variables" as v;

.nav__container {
  border-bottom: 1px solid #ccc;
}

.nav {
  height: 8vh;
  position: relative;
  @include m.flex;

  &__admin {
    @include m.flex;
    gap: 0.2rem;
    cursor: pointer;

    &--button {
      position: absolute;
      top: 3.5rem;
      right: 0.5rem;
      padding: 0.4rem 1rem;
      border: none;
      background: #ccc;
    }
  }

  h3,
  p {
    margin: 0;
    padding: 0;
  }

  h3 {
    font-family: v.$heading;
    font-weight: 700;
    font-size: 1.2rem;
  }
}
