.sidebar {
  height: 91.5vh;
  overflow: hidden;

  &__icon {
    padding: 0.5rem 1rem;
    cursor: pointer;
  }

  &__show {
    width: 250px;
    position: absolute;
    top: 8.2vh;
    left: 0;
    z-index: 1;
  }

  &__hide {
    display: none;
  }
}

@media (min-width: 768px) {
  .sidebar {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    z-index: 0;
    width: 250px;
  }
}